body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020617;
}

.relogio {
    width: 300px;
    height: 300px;
    border: 8px solid #38bdf8;
    border-radius: 50%;
    position: relative;
    background: #0f172a;
}

.numero {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Posições dos números */
.n12 { top: 10px; left: 50%; transform: translateX(-50%); }
.n3  { right: 10px; top: 50%; transform: translateY(-50%); }
.n6  { bottom: 10px; left: 50%; transform: translateX(-50%); }
.n9  { left: 10px; top: 50%; transform: translateY(-50%); }

.n1  { top: 30px; right: 75px; }
.n2  { top: 75px; right: 30px; }
.n4  { bottom: 75px; right: 30px; }
.n5  { bottom: 30px; right: 75px; }

.n7  { bottom: 30px; left: 75px; }
.n8  { bottom: 75px; left: 30px; }
.n10 { top: 75px; left: 30px; }
.n11 { top: 30px; left: 75px; }

/* Ponteiros */
.ponteiro {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.horas {
    width: 8px;
    height: 70px;
    background: white;
}

.minutos {
    width: 5px;
    height: 100px;
    background: #38bdf8;
}

.segundos {
    width: 2px;
    height: 120px;
    background: red;
}

.centro {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hora-digital{
    position:absolute;
    top:85%;
    left:50%;
    transform:translate(-50%, -50%);
    background:#222;
    color:#00ffcc;
    padding:6px 12px;
    border-radius:6px;
    font-size:16px;
    font-family:monospace;
    z-index:5;
    box-shadow:0 0 5px #38bdf8;
}

