/* css/style.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 30px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.logo{
  width:80px;
  height: 80px;
  border-radius: 50%;
  
  
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #1f4fa3;
  color: white;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background: #163b7a;
}

.erro {
  color: red;
  font-size: 14px;
}


/* Topbar */
.topbar {
  background: #1f4fa3;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

/* Conteúdo */
.container {
  padding: 30px;
}

/* Pesquisa */
.search-section {
  background: white;
  padding: 15px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-section input {
  flex: 1;
  padding: 10px;
}

.search-section button {
  padding: 10px 20px;
  background: #1f4fa3;
  color: white;
  border: none;
  cursor: pointer;
}

/* Cartões */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #1f4fa3;
}
.ultimo{
  margin-top: 100%;
  text-align: center;
}

.btn0{
  width: 100%;
  height: 80px;
  text-align: center;
  display: grid;
  height: 30px;
  background-color: white;
  color:blue;  
  border-color:transparent;
  font-size: 16px;
} 
.btn0:hover{
  background: #1f4fa3;
  color: white;
}